<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For2</title>
</head>
<body>
    {% block name %}
    <h1>We use <br>
        {% templatetag openblock %} block ______ {% templatetag closeblock %} <br>
        {% templatetag openblock %} endblock ______ {% templatetag closeblock %} <br>
        the blank only represents the name by which the block is called
    </h1>
{% endblock name %}

</body>
</html>